#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_PYTHON_SYSTEM = pysupport
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

DEB_PYTHON_INSTALL_ARGS_ALL += --install-lib usr/share/python-support/sacam --single-version-externally-managed

DEB_COMPRESS_EXCLUDE := .py

binary-install/$(DEB_PYTHON_MODULE_PACKAGE)::
	find debian/$(DEB_PYTHON_MODULE_PACKAGE)/usr/share/ -type f -exec chmod -R a-x {} \;
	echo "2.4-" >debian/$(DEB_PYTHON_MODULE_PACKAGE)/$(cdbs_python_support_path)/.version
