#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/class/gnome.mk
include /usr/share/cdbs/1/rules/utils.mk

binary-install/sacam-gst-plugins::
	rm -f debian/sacam-gst-plugins/usr/lib/gstreamer-0.10/libgstsacam.la
	rm -f debian/sacam-gst-plugins/usr/lib/gstreamer-0.10/libgstsacam.a

